/* Utilities */
.max-width {
  padding: 0 80px;
  max-width: 1300px;
  margin: auto;
}
.nav-width {
  padding: 0 80px;
  max-width: 1600px;
  margin: auto;
}

.bg-main {
  background-color: #feffed;
}

.homeSection {
  height: 100vh;
  background: url('../public/homebg.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.casualSection {
  height: 100vh;
}
